<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-8">
     <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
        <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
     </div>  
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.name}}"
            class="card-img-top img-thumbnail">
        <div clas="card-body">
            <div style="padding: 5%;">
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button type="submit" [disabled]="!editForm.dirty" 
                        form="editForm" 
                        class="btn btn-success col-12">Save changes</button>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.name}}">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4 class="mt-2">Description</h4>
                    <textarea class="form-control" 
                        [(ngModel)]="member.bio" 
                        name="bio"></textarea>
                    <h4 class="mt-2">Interests</h4>
                    <textarea class="form-control" 
                            [(ngModel)]="member.interests" 
                            name="interests"></textarea>
                </form>
            </tab>
            <tab heading="Edit Photos">
                <p></p>
            </tab>
        </tabset>
    </div>
</div>
